core
*.ply
*.pdf
*.pt*
*.pyc
*.sh
*.log
*.jpg
*.png
*.npz
*.npy
*.pkl
*.mp4
*.gif
*.swp
*.DS_Store*
*.obj
*.ply
*.json
*.blend
*.blend*
*.mp4*
*.webm
*.mkv
*.rrd
*.nfs*
processed_data
pretrained_models
*.mp4
*.pt
model_weights
chois_output
object_info.txt
extract_object_info.py
replica
data/smpl_all_models
process_replica_dataset.py
floor_colorful_mat_object_info.txt